body {
    padding:0;
    margin:0;
    background: url(https://c.wallhere.com/photos/88/39/light_sunset_monument_night_circle_photography_lights_long-861971.jpg!d)
}

h1 {
    font-size: 500%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.418);
    color :white;
    height: 120;
    padding-top: 25;
}

p {
    font-size:300%;
    text-align: center;
    color:white;
    margin-top:125;
    background-color: rgba(0, 0, 0, 0.418);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-align:left;
    color:white;
    text-decoration: none;
    font-size:200%;
    position: relative;
    left:250;
}

a:hover {
    

}