#welcome {
	color:white;
	text-align:center;
	padding-top:10;
	font-size: 300%;
	background-color:rgba(0, 0, 0, 0.384);
	height: 65;
	border-bottom: 5;
	border-color:#2c8fff;
	
}

#title {
	color:white;
	padding:10 20 20 20;
	}

body {
	background: url(https://www.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-12-full.jpg)50% 50%;
}



#continent {
	padding:40;
}

.vid {
	 width:40%; 
	 height:40%;
	 margin:70;
	 float:left;
}

.circle {
  height: 50;
  width: 50;
  background-color: red;
  border-radius: 50%;
  position:absolute;
}

#c1 {

	background-color: rgb(184, 0, 0);
	left:350;
}

#c2 {

	background-color: red;
	left:1100;

}

#c3 {

	background-color: red;
	left:350;
	top:550;
}

#c4 {

	background-color: red;
	left:1100;
	top:550;
}

